*{
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  margin-left: 350px;
}

.form-container{
  margin-top: 50px;
  
  }

.para1{
  margin-left: 300px;
  width: 800px;
  color: grey;
}

.para2{
  margin-left: 200px;
  color: grey;
}

.para3{
  margin-left: 420px;
  color: grey;
}

.inter-group{
  margin-left: 170px;
}

.input1{
  padding: 10px 10px;
  width: 630px;
  margin-top: -15px;
}

.primary-btn{
  margin-top: 30px;
  margin-left: 170px;
  padding: 12px 12px;
  padding-left: 300px;
  padding-right: 289px;
  border: none;
  background-color: #1F6891;
  color: white;
}

.divider{
  margin-left: 490px;
  margin-top: 50px;
  color: rgb(120, 120, 120);
}

.sign{
  margin-left: 170px;
}

.all-inputs{
  margin-top: 50px;
}

.facebook{
  width: 640px;
  padding: 10px 10px;
}

.google{
  width: 640px;
  padding: 10px 10px;
}

.linked{
  width: 640px;
  padding: 10px 10px;
}

.account{
  margin-top: 60px;
  margin-left: 350px;
}

a{
  margin-left: 10px;
  text-decoration: none;
}

.face{
  width: 30px;
  height: 30px;
  margin-top: -238px;
  margin-left: 770px;
}

.go{
  width: 30px;
  height: 30px;  
  margin-left: 770;
  margin-top: -200px;
}

.link{
  width: 25px;
  height: 25px;
  margin-left: 775px;
  margin-top: -159px;
}
